<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ path.name or "/" }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <script type="text/javascript">
        function randomHSL(){
    return "hsla(" + ~~(360 * Math.random()) + "," +
                    "70%,"+
                    "80%,1)"
  }
    document.querySelectorAll('div').forEach((el)=>{
        el.style.backgroundColor = randomHSL();
    })
   //document.body.style.backgroundColor = randomHSL()

    </script>
    <style type="text/css">
        .flex-container {
  display: flex;
            flex-wrap: wrap;
  background-color: DodgerBlue;
        }
        .flex-container > div {
              background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
        flex-grow: true;
        }
        .item {
             display: flex;
             flex-wrap: wrap;
           background-color: red;
            height:50px;
            width: 50px;

        }

    </style>
</head>
<body>
    <div class="flex-container">
          {% for f in path.glob('j.mp4') %}
        {# https://material.io/resources/icons/?style=baseline #}
        <div>
            <div>
            <a href="/browser/{{ f }}">{{ f.name }}</a>
             </div>
              {% if f.is_file() %}<span class="material-icons">file_download</span>{% endif %}
                {% if f.is_dir() %}<span class="material-icons">folder_open</span>{% endif %}
                <span class="material-icons">delete_forever</span>
                <span class="material-icons">mode_edit</span>
            {{ f.suffix }}
        </div>
    {% endfor %}
    </div>
<table>

    <thead>
    <tr>
        {#  https://google.github.io/material-design-icons/#icon-font-for-the-web #}
        <span class="material-icons">face</span>
        <th colspan="999">{{ path.resolve() }}</th>
    </tr>

    </thead>
    <tbody>
    {% for f in path.glob('*') %}
        {# https://material.io/resources/icons/?style=baseline #}
        <tr>
            <td>
                 {% for f in path.glob('*') %}
        {# https://material.io/resources/icons/?style=baseline #}
        <tr>
            <td>
                {% if f.is_file() %}<span class="material-icons">file_download</span>{% endif %}
                {% if f.is_dir() %}<span class="material-icons">folder_open</span>{% endif %}
                <span class="material-icons">delete_forever</span>
                <span class="material-icons">mode_edit</span></td>
            <td><a href="/browser/{{ f }}">{{ f.name }}</a></td>
            <td>{{ f.suffix }}</td>
            <td>
            </td>
        </tr>
    {% endfor %} {% if f.is_file() %}<span class="material-icons">file_download</span>{% endif %}
                {% if f.is_dir() %}<span class="material-icons">folder_open</span>{% endif %}
                <span class="material-icons">delete_forever</span>
                <span class="material-icons">mode_edit</span></td>
            <td><a href="/browser/{{ f }}">{{ f.name }}</a></td>
            <td>{{ f.suffix }}</td>
            <td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
</body>
</html>